html {
	box-sizing: border-box;
	margin:0;
	font-family: "Lora";
}

body {
	margin: 0;
	padding: 0;
}

a:active {
	color:#000;
}


.masthead {
	margin: 0;
	text-align: center;
}

.name {
	font-family: "Open Sans Condensed";
	color: #000;
	font-size: 7rem;
	margin:0;

}

.title {
	margin:0;
	padding:0;
	font-family: "Lora";
	font-style: italic;
	font-weight: 200;
	font-size:1.2rem;
	color: #000;
}

.navbar {
	padding:0;
}
.navbar li {
	margin: 1rem;
	display: inline-block;
}

.buttons a {
 	text-align: center;
	text-decoration: none;
	padding: .2rem;
	font-family: "Open Sans Condensed";
	font-weight:700;
	color: #303030;
}

.buttons a:hover {
	color: #000000;
	text-decoration: underline;
}

.main {
	background:url(../images/headphones.jpg) no-repeat center; 
    background-size: cover;
    background-attachment: fixed;
	margin:0;
	padding-top: 1.5rem;
	padding-bottom: 3rem;
	font-family: "Lora";
	font-style: italic;
	font-weight: 200;
	color:#FFFFFF;

}

.main a {
	text-decoration: none;
}

.content {
	margin:0 auto;
	width: 15rem;
	padding: 2rem;
	background-color: rgba(96,96,96,.5);
	border-radius: 10px;
}

.content a{
	color:#303030;
	font-weight:700;
}

.content a:hover{
	color:#000;
}


.screenshots {
	padding: 0;
	text-align: center;
}
.screenshots li {
	list-style-type: none;
	margin-bottom: 2rem;
}
.screenshots li:last-child {
	margin-bottom: 0;
}
.screenshots img {
	height: 10rem;
	width: 12rem;
	border: 1px solid #FFF;
	border-radius: 10%;
}
.subhead {
	text-align: center;
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-size: 1.8rem;
	color: #fff;
	text-shadow: 2px 2px #444;
}

h2.more {
	font-size: 1.3rem;
	font-weight:300;

}

form {
	text-align: center;
}

input, textarea {
	margin: 1rem 0;
	padding:.5rem;
	width: 13rem;
	background-color: #999;
	border-radius:5px;
	border: 1px solid #444;
}

input[type=submit] {
    background-color: #444;
    color:#FFF;
    width: 4rem;
    border: 1px solid #FFF;
    text-align:center;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight:200;
 }


footer {
	padding-top:2rem;
	height:6rem;
	background-color: #000000;
	color:#999999;
	font-family: "Lora";
	text-align:center;
	font-style: italic;
	border-top:1px solid #fff;
}

address a {
	text-decoration:none;
	color:#303030;
}

@media (min-width: 700px) {
  .example-style1 {
    /*
     * Styles for tablet size and larger here.
     * Here is where you would overwrite any base styles that you want to change 
     * for this breakpoint.
     * Base styles are inherited here so no need to repeat formerly defined base 
     * properties that will remain unchanged.
     * Write these styles 2nd.
     */
  }
}
@media (min-width: 1024px) {

.masthead{
	float: left;
	width:20rem;
	background-color: white;
	margin: 0;
	min-height: 30rem;
}

.main {
	padding-top:0;
	margin-left:20rem;
	min-height:35rem;
}

.name {
	font-size: 5.5rem;
}

.navbar {
	padding-top: 2rem;
}
.navbar li {
	display: block;
	padding:.8rem;
}

.subhead {
	margin: 0;
	font-size:2.5rem;
	padding: 3rem 1rem;
}

.buttons a {
 	font-size: 1.5rem;
}

