html {
	box-sizing: border-box;
	margin:0;
	font-family: "lora";
}

body {
	margin: 0;
	padding: 0;
}


.masthead {
	margin: 0;
	text-align: center;
}

.name {
	font-family: "Open Sans Condensed";
	color: #000000;
	font-size: 7rem;
	margin:0;

}

.title {
	margin:0;
	padding:0;
	font-family: "lora";
	font-style: italic;
	font-weight: 200;
	font-size:1.2rem;
	color: #000000;
}

.navbar {
	padding:0;
}
.navbar li {
	margin: 1rem;
	display: inline-block;
}

.buttons a {
 	text-align: center;
	text-decoration: none;
	color: #000000;
	padding: .2rem;
	font-family: "Open Sans Condensed";
	font-weight:700;

}

.buttons a:hover {
	color: #000000;
	padding: .2rem;
	font-family: "Open Sans Condensed";
	font-weight:300;
	width: 8rem;
}

.content {
	background:url(../images/background.jpg) no-repeat center; 
    background-size: cover;
    height:30rem;
	margin:0;
	font-family: "lora";
	font-style: italic;
	font-weight: 200;
	color:#FFFFFF;

}

.content a {
	text-decoration: none;
}


.subhead {
	text-align: center;
	color: #333333;
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-size: 1.8rem;
	padding-bottom: 13rem;
}

h2.more {
	font-size: 1.3rem;
	font-weight:300;

}

footer {
	padding-top:2rem;
	height:6rem;
	background-color: #000000;
	color:#999999;
	font-family: "lora";
	text-align:center;
	font-style: italic;
}

address a {
	text-decoration:none;
	color:#999999;
}

media (min-width: 700px) {
  .example-style1 {
    /*
     * Styles for tablet size and larger here.
     * Here is where you would overwrite any base styles that you want to change 
     * for this breakpoint.
     * Base styles are inherited here so no need to repeat formerly defined base 
     * properties that will remain unchanged.
     * Write these styles 2nd.
     */
  }
}
@media (min-width: 1024px) {

.masthead{
	float: left;
	width:20rem;
	height: 100%;
	background-color: white;
	margin: 0;
}

.content {
	margin-left:20rem;
}

.name {
	font-size: 5.5rem;
}

.navbar {
	display: inline;
}

.subhead {
	margin: 0;
	padding: 1rem;
}

.words {
	width: 10rem;
	padding: 2rem;
}

.content a {
	color: #990000;
}